@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0D0E4E;
  --secondary: #1764FE;
  --tertiary: #F0F0F0;
  --foreground: #181819;
  --white: #FFFFFF;
}

.flipped {
  transform: scaleX(-1);
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.react-calendar {
  background-color: #F6F6F6;
  border: none;
  border-radius: 15px;
}

